<%= form_for(@boodle) do |f| %>
    <% if @boodle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@boodle.errors.count, "error") %> prohibited this boodle from being saved:</h2>

          <ul>
            <% @boodle.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @boodle.title.blank? %>
        <%= f.label :title, "What's on your mind?" %> <%= f.text_field :title %>
    <% else %>
        <%= f.text_field :title %>
    <% end %>
    <%= render 'boodle_container' %>
    <%= hidden_field(:boodle, :data_url) %>
    <div class='create-boodle'>
      <%= f.submit %>
    </div>
<% end %>