<%= form_for(@boodle) do |f| %>
    <% if @boodle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@boodle.errors.count, "error") %> prohibited this boodle from being saved:</h2>

          <ul>
            <% @boodle.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @boodle.title.blank? %>
        <%= f.label :title, "What's on your mind?" %> <%= f.text_field :title %>
    <% else %>
        <%= f.text_field :title %>
    <% end %>


    <div class="tool-palatte">
      <%= render 'boodle_color_selection' %>
      <div class='create-boodle'>
    </div>
      <%= f.submit :class => 'u-pull-right', :value=> 'Save'%>
    </div>
    <canvas id="boodle-canvas">
    </canvas>


    <%= hidden_field(:boodle, :data_url) %>

<% end %>