<p id="notice"><%= notice %></p>


<% @boodles.each do |boodle| %>
    <div class='boodle preview'>
      <a href="<%= url_for(boodle) %>">
        <div class='info'>
          <%= boodle.user.user_type.emoji %>
          <%= boodle.title %>
        </div>
        <img src="<%= boodle.data_url %>" />
        <div class='info'>
          <%= boodle.emojis %>
        </div>
      </a>
    </div>
<% end %>

<%= link_to 'New Boodle', new_boodle_path %>
