<p id="notice"><%= notice %></p>

<h1>Listing Boodles</h1>

<%= link_to 'New Boodle', new_boodle_path %> <br />

<% @boodles.each do |boodle| %> 
  <div class='boodle preview'>
    <a href="<%= url_for(boodle) %>">
      <img src="<%= boodle.data_url %>" />
      <div class='actions'><%= boodle.title %></div>
    </a>
  </div>
<% end %>
