<div class='boodle'>
  <div class="info">
    <%= @boodle.title %>
  </div>
  <img src="<%= @boodle.data_url %>"/>

  <div class='info'>
    <% if @boodle.user == current_user %>
        <%= link_to '⛔️', @boodle, method: :delete, data: {confirm: 'Are you sure?'} %> |
    <% end %>
    <%= link_to '⏎', boodles_path %>
  </div>
</div>

<h3>Comments</h3>

<%= form_for(Comment.new(:boodle_id => @boodle.id)) do |f| %>
  <%= hidden_field(:comment, :boodle_id, :value => @boodle.id) %>
  
  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="nine columns">
      <%= f.text_field :message %>
    </div>
    <div class="three columns right">
      <%= f.submit "Add", :class => "button-primary" %>
    </div>
  </div>

<% end %>

<ul>
  <% @boodle.comments.each do |comment| %>
    <li><%= comment.message -%></li>
  <%- end -%>
</ul>