<p id="notice"><%= notice %></p>

<div class='boodle'>
  <div class="info">
    <%= @boodle.title %>
  </div>
  <img src="<%= @boodle.data_url %>"/>

  <div class='info'>
    <% if @boodle.user == current_user %>
        <%= link_to '⛔️', @boodle, method: :delete, data: {confirm: 'Are you sure?'} %> |
    <% end %>
    <%= link_to '⏎', boodles_path %>
  </div>
</div>
