<!DOCTYPE html>
<html>
<head>
  <title>Boodle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name -%>-controller" class="<%= action_name -%>-action">

<div class="container">

  <h1>Boodle</h1>

  <div class="login">
    <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
    <% else %>
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
    <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>
