<!DOCTYPE html>
<html lang="en">
<head>
  <title>Boodle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name -%>-controller" class="<%= action_name -%>-action">

<header>
  <div class="container">
    <%= link_to 'Boodle', boodles_path, :class => "left" %>
    <%= link_to 'Create', new_boodle_path, :class => "right" %>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
